/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Hero image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../../res/parallax-3.jpg");
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../../res/portfolio-img.jpg");
    min-height: 400px;
}
  
/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../../res/contact-img.jpg");
    min-height: 400px;
}

/* Project images */
.project-img {
    width: 100%;
    min-height: 250px;
}